.header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #000000;
    color: white;
  }

  .logoTitle{
    margin-right: auto;
  }

  .logoTitle h3{
    font-size: 1.8rem;
    color: #F5F5F5;
    transition: .5s;
  }

  .logoTitle a{
    background-color: #fff;
  }

  .logoTitle h3:hover{
    color: #FF2626;
  }

  .logoImage{
    width: 50px;
    margin-left: 1rem;
  }

  .linksContainer a{
    color: white;
    font-weight: 600;
    font-size: 1.4rem;
    text-decoration: none;
    padding: 22px 1rem;
    transition: .5s;
  }
  
  .linksContainer a:hover{
    background-color: #fff;
    color: black;
  }

  @media only screen and (max-width: 500px) {
    .header {
      width: 140%;
    }
  }